[Desktop Entry]
Name=Atom
StartupWMClass=Atom
Comment=A hackable text editor for the 21st Century
GenericName=Text Editor
Exec=atom
Icon=atom
Type=Application
Categories=Development;TextEditor;
X-AppImage-Version=1.52.0

